.ProductDetails {
    width: 100%;
  }
  
.ProductTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
  }
  
.ProductDescription {
    font-size: 20px;
    color: rgba(0, 0, 0, .8);
  }
  
  
.SectionHeading {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
.ProductImage {
    width: 100%;
    max-width: 80px;
  
    border: 2px solid transparent;
    border-radius: 5px;
    margin-right: 14px;
    cursor: pointer;
  }
  
.SelectedProductImage {
    border: 2px solid teal;
  }
  
.FeatureItem {
    min-width: 80px;
    background-color: gainsboro;
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
    margin-right: 14px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    box-sizing: content-box;
  }
  
.SelectedFeatureItem {
    color: white;
    background-color: gray;
  }
  
.PrimaryButton {
    color: white;
    background-color: teal;
    font-size: 20px;
    border-radius: 8px;
    border:0;
    padding: 12px 24px;
    margin-top: 30px;
    cursor: pointer;
  }
  